@font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-RegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-BoldItalic.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-ExtraBold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-ExtraBoldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-Thin.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Chopin Trial';
    src: url('/fonts/Chopin-Trial-ThinItalic.otf') format('opentype');
    font-weight: 100;
    font-style: italic;
  }
  